/* Text */
.text-center{
    text-align: center;
}

.heading-small{
    font-size: 1.25rem;
}

.heading-medium{
    font-size: 1.5rem;
}

.heading-large{
    font-size: 1.75rem;
}

/* Colors */
.bg-coral{
    background-color: #E74D44;
}
.bg-light-gray{
    background-color: #F1F4F7;
}

/* container */
.container{
    max-width: 1100px;  /*tüm ekran*/
    margin: 0 auto;
}

/*Buttons*/

.button{
    color: #E74D44;
    background-color: #fff;
    border: 2px solid #E74D44;
    margin-top: 1rem;
    padding: 0.75rem;
    border-radius: 1rem;
    border: 2px solid #E74D44;
}
/* Forms */
.form-group{
    padding: 0.5rem ;
    border-radius: 0.5rem;
}
.form-group label{
    display: inline-block;
}
.form-control{
    padding: 0.75rem;
    margin-left: 1rem ;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    resize: none;
}
.ortala{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}